ENV=local

SERVICE_PORT=
SERVICE_NAME=gotoko-pos-api
SERVICE_VERSION=gotoko-pos-api-0.0.1
SERVICE_URL=localhost:9090

DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=
DB_MAX_CONN=25
DB_MAX_IDLE_CONN=25
DB_MAX_TTL_CONN=25